@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div> @ViewBag.Info1 <br /> </div>
<div> <br /> @ViewBag.Info2 <form action="http://localhost:58162/Login/Login"> 
    <input type="submit" value="click here"/> 
        </form> </div>


<p>Use this area to provide additional information.</p>
